body { margin: 0; }

a { color: #0a0a0a; text-decoration: none; }

ul { margin: 0; padding: 0; }

/** ---------------------------------------------------------------------------------------------------- ---------------------------------------------------------------------------------------------------- : top navigation ---------------------------------------------------------------------------------------------------- ---------------------------------------------------------------------------------------------------- */
.top-nav { background: rgba(161, 154, 154, 0.3); color: #0a0a0a; overflow: hidden; height: 40px; padding-top: 1em; }
.top-nav li { list-style: none; display: inline; padding: 40px; }
.top-nav li:hover { background: #ffffff; color: #0a0a0a; cursor: pointer; }
.top-nav li:hover a { font-weight: bolder; }

/** ---------------------------------------------------------------------------------------------------- ---------------------------------------------------------------------------------------------------- : container ---------------------------------------------------------------------------------------------------- ---------------------------------------------------------------------------------------------------- */
.container { width: 90%; margin: 20px auto; }

/** ---------------------------------------------------------------------------------------------------- ---------------------------------------------------------------------------------------------------- : footer ---------------------------------------------------------------------------------------------------- ---------------------------------------------------------------------------------------------------- */
.footer { position: absolute; bottom: 0; background: rgba(161, 154, 154, 0.3); color: #0a0a0a; width: 100%; }
.footer p { text-align: center; }
