$background: rgba(161, 154, 154, 0.30);
$black: #0a0a0a;
$white: #ffffff;

body {
  margin: 0;
}
a { 
  color: $black;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

/**
 * ----------------------------------------------------------------------------------------------------
 * ----------------------------------------------------------------------------------------------------
 * : top navigation
 * ----------------------------------------------------------------------------------------------------
 * ----------------------------------------------------------------------------------------------------
 */
.top-nav {
  
  background: $background;
  color: $black;
  overflow: hidden;
  height: 40px;
  padding-top: 1em;
  li {
    list-style: none;
    display: inline;
    padding: 40px;
    &:hover {
      background: $white;
      color: $black;
      cursor: pointer;
      a {
        font-weight: bolder;
      }
    }
  }


}

/**
 * ----------------------------------------------------------------------------------------------------
 * ----------------------------------------------------------------------------------------------------
 * : container
 * ----------------------------------------------------------------------------------------------------
 * ----------------------------------------------------------------------------------------------------
 */
 .container {
   width: 90%;
   margin: 20px auto;
 }

/**
 * ----------------------------------------------------------------------------------------------------
 * ----------------------------------------------------------------------------------------------------
 * : footer
 * ----------------------------------------------------------------------------------------------------
 * ----------------------------------------------------------------------------------------------------
 */
.footer {
  position: absolute;
  bottom: 0;
  background: $background;
  color: $black;
  width: 100%;
  p {
    text-align: center;
  }
}